*.vsidx
*.lock
*.v1
*.suo
*.testlog
*.manifest
*.v2
*.user
*.json
*.dll
*.exe
*.pdb
*.props
*.targets
*.cs
*.cache
*.editorconfig
*.BuildWithSkipAnalyzers
*.CopyComplete
*.txt
/CoreProductApi/CoreProductApi/obj/Debug/net5.0/_IsIncrementalBuild
/CoreProductApi/CoreProductApiTests/bin/Debug/net5.0/CoverletSourceRootsMapping
/CoreProductApi/CoreProductApiTests/obj/Debug/net5.0/_IsIncrementalBuild
